html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, * {
	border : none;
	color : inherit;
	font-family : inherit;
	font-size : inherit;
	font-style : inherit;
	font-weight : inherit;
	margin : 0;
	outline : none;
	padding : 0;
	resize : none;
	text-align : inherit;
	text-decoration : inherit;
	text-shadow : inherit;
	vertical-align : baseline;
	text-transform : inherit;
	line-height : inherit;
	background-color : transparent;
}

html {
	background : #FFF;
	color : #000;
	overflow-y : scroll;
}

body {
	line-height : 1;
	font-size : 100%;
	font-weight : normal;
	text-align : left;
}

button {
	cursor : pointer;
}

textarea {
	overflow : auto;
}

a {
	text-decoration : none;
}

b, strong {
	font-weight : bold;
}

u {
	text-decoration : underline;
}

i {
	font-style : italic;
}

ol, ul, menu {
	list-style : none;
}

table {
	border-collapse : separate;
	border-spacing : 0;
}

section, header, footer, nav, article, aside {
	display : block;
}